.example-section {
    display: flex;
    flex-flow: row wrap;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  label {
      font-size: x-large;
  }
  .condiment {
      margin-right: 1em;
      margin-bottom: 2em;
  }
  mat-check-box {
      margin-left: 1em;
      margin-right: 2em;
  }
  mat-radio-button {
      font-size: large;
      margin-left: .2em;
  }