mat-card-title {
    align-items: center;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: .5em;
    margin: 1em;
}
mat-card-subtitle {
    font-size: medium;
    font-weight: 700;
    margin-top: .5em;
    margin: 1em;
}
mat-card-content {
    text-align: center;
    font-size: large;
    font-weight: 700;
}
mat-card-content p {
    color: red;
    font-size: large;
    font-weight: 700;
}
mat-radio-button {
    font-size: large;
    margin-left: .2em;
}
mat-check-box {
    margin-left: 1em;
    margin-right: 2em;
}
.matcardaction {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
}
span {
    flex: 1 1 auto;
}
#additionalcomment {
    line-height: 2em;
    text-align: center;
}
.example-radio-button {
  margin: 5px;
}
.example-section {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: 25%;
    margin-right: 10%;
}

h2{
    margin-left: 1.5em;
}
span{
    width: 5em;
}

button {
    width: fit-content;
}
section {
    appearance: fill;
    background-color: whitesmoke;
    border: 0;
    margin: 0;
    height: fit-content;
    margin-right: 1em;
}
.order {display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-size: 30pt;
    color: green;
    text-align: left;
    margin: 1em;

}
article {
    flex: 1;
    font-size: 15pt;
    font-style: italic;
    padding-top: .5em;
    font-weight: 400;

}
.condiments {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: 12pt;
    font-weight: 600;
    margin-right: 2em;
    margin-bottom: 2em;

}
.condiment {
    margin-bottom: 2em;
    margin-right: 1em;
}
.topping {
    display: flex;
    flex-flow: row wrap;
}
.checkout {
    text-align: center;
    margin: 1em;
    padding: 1em;
    font-size: 25pt;
    font-weight: 600;
}
.mat-menu-item:hover{
    background-color:grey;
    font-weight: 700;
  }
button{
    margin-top: 1em;
  }
  
@media screen and (orientation: portrait) {
    .fullview {
        width: 100%;
        height: 100%;
      }
    }
@media screen and (orientation: portrait) {
    .example-section {
        display: flex;
        flex-flow: column;
        align-items: center;
      }
    }
@media screen and (orientation: portrait) {
    button{
        color: red;
        font-size: 40pt;
        width: fit-content;
        padding:.5em;
        border-radius: 15%;
      }
    }
@media screen and (orientation: portrait) {
    .matmenu{
        color: red;
        font-size: 25pt;
        width: 30vw;
        height: fit-content;
        padding: 0.5em;
      }
    }
@media screen and (orientation: portrait) {
    mat-card-content p{
        font-size: 30pt;
      }
    }
@media screen and (orientation: portrait) {
    mat-card-title {
        line-height: 1em;
        font-size: 40pt;
        padding: .3em;
      }
    }
@media screen and (orientation: portrait) {
    mat-card-subtitle {
        font-size: 20pt;
        margin-bottom: 1em;
        height: fit-content;
      }
    }
@media screen and (orientation: portrait) {
    mat-checkbox, mat-checkbox ::target-text {
        font-size: 35pt;
        margin-bottom: .2em;
        background-color: white;
      }
    }
@media screen and (orientation: portrait) {
    mat-radio-button, mat-radio-button ::target-text {
        font-size: 25pt;
        font-style: italic;
        font-weight: 400;
      }
    }
@media screen and (orientation: portrait) {
    mat-icon ::target-text {
        font-size: 50pt;
        text-align: center;
      }
    }
@media screen and (orientation: portrait) {
    h3 {
        font-size: 20pt;
        font-style: oblique;
        margin-bottom: 1em;
      }
    }
@media screen and (orientation: portrait) {
    .condiments {
        font-size: 25pt;
        text-align: center;
      }
    }
@media screen and (orientation: portrait) {
    .condiment {
        width: fit-content;
        background-color: white;
        margin-bottom: 2em;
        }
    }
@media screen and (orientation: portrait) {
    article {
        font-size: 25pt;
        font-style: italic;
      }
    }
@media screen and (orientation: portrait) {
    section {
        height: fit-content;
        margin-bottom: 1em;
        background-color: white;
        font-weight: 500;
      }
    }
@media screen and (orientation: portrait) {
    .checkout {
        font-size: 30pt;
        font-style: oblique;
        font-weight: 600;
      }
    }
@media screen and (orientation: portrait) {
    .order {
        font-size: 30pt;
        font-style: oblique;
        font-weight: 600;
        margin-bottom: 2em;
      }
    }
@media screen and (orientation: portrait) {
    input, input ::placeholder {
        font-size: 25pt;
        margin-bottom: .5em;
        text-align: center;
      }
    }